<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Employees</title>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">

</head>

<body>

	<div class="container">
		<table class="table table-bordered table-stripered">
			<thead class="thead-dark">
				<tr>
					<th>First name</th>
					<th>Last name</th>
					<th>Email name</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="employee : ${employeesList}">
					<td th:text="${employee.firstName}" />
					<td th:text="${employee.lastName}" />
					<td th:text="${employee.email}" />
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>