<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Employees</title>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">

</head>

<body>

	<div class="container">
		<h3>Employee Directory</h3>
		
		<a th:href="@{/crud/addEmployee}" class="btn btn-primary btn-sm mb-3">Add Employee</a>
	
	
		<table class="table table-bordered table-stripered">
			<thead class="thead-dark">
				<tr>
					<th>First name</th>
					<th>Last name</th>
					<th>Email name</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="employee : ${employeesList}">
					<td th:text="${employee.firstName}" />
					<td th:text="${employee.lastName}" />
					<td th:text="${employee.email}" />
					<td> 
						<a th:href="@{/crud/editEmployee/{employeeId}(employeeId=${employee.id})}" class="btn btn-info btn-sm">Update</a>
						<a th:href="@{/crud/deleteEmployee/{employeeId}(employeeId=${employee.id})}" class="btn btn-danger btn-sm" onclick="if(!(confirm('Delete this employee?'))) return false">Delete</a> 
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>